.add-book-wrapper {
    width: 100%;

    .add-book-options-wrapper {
        width: 100%;
        display: flex;

        button {
            width: 25%;
            height: 54px;
            background-image: url("../../static/assets/White\ Header.png");
            border: 1px solid black;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}