.add-book-wrapper {
    @include page-styles;
    background-image: url("../../static/assets/Shelf\ Background_.png");
    background-position: center;
    background-size: 100% 100%;

    .add-book-options-wrapper {
        width: 100%;
        display: flex;
        background-image: url("../../static/assets/White\ Header.png");

        div {
            width: 25%;
            height: 54px;
            border: 1px solid black;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        div.active {
            background-color: rgba(255, 255, 255, .5);
        }
    }

    .scan, .isbn, .search {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        button {
            margin-bottom: 10px;
        }
    }
}