.landing-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-image: url("../../static/assets/Gray\ Background.png");
    background-size: 100% 100%;

    h1, h4 {
        margin-bottom: 10px;
    }

    #logo-text {
        width: 70%;
    }

    #logo-image {
        width: 30%;
        margin: 20px;
    }

    .buttons-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 20vh;
    }

    button {
        width: 120px;
        height: 30px;
        border-radius: 5px;
        font-weight: bold;
        font-size: 14px;
        background-image: url("../../static/assets/White\ Header.png");
    }

    .form-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
    
            input {
                height: 30px;
                width: 70%;
                border-radius: 5px;
                margin-bottom: 10px;
                font-size: 14px;
                font-weight: bold;
            }
        }
    }

    .landing {
        .error-loading {
            margin-bottom: 18.72px;
        }
    }

    .create-account {
        .error-loading {
            margin-bottom: 0px;
        }

        h4 {
            margin-top: 0px;
        }
    }
}