.series-manager-wrapper {
    background-image: url("../../static/assets/Shelf\ Background_.png");
    background-position: center;
    background-size: 100% 100%;

    .manage-series-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 12px;

        .confirm-error-loading, .error-loading {
            height: 0px;
            margin-bottom: 0px;
        }

        .series-wrapper, form {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 80%;
            background-color: rgba(0,0,0,.3);
            border-radius: 10px;
            margin-bottom: 40px;

            h3 {
                margin-bottom: 0px;
            }

            .options-wrapper {
                margin-bottom: 19px;
            }
        }

        form {
            padding-top: 19px;

            .buttons-wrapper {
                margin-bottom: 19px;
            }

            input {
                margin-bottom: 0px;
            }

            .series-books-display {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 8px 0px;
            }

            .series-book-display {
                width: 70%;
                display: grid;
                grid-template-columns: 30px 1fr;
                justify-items: center;
                align-items: center;

                input {
                    width: 30px;
                    height: 30px;
                    text-align: center;
                }

                p {
                    margin: 8px 0px;
                }
            }

            & > * {
                transform: translateY(0px);
            }
        }
    }
}