.navbar-wrapper {
    background-image: url("../../static/assets/White\ Header.png");
    border: 1px solid black;
    width: 100%;
    position: fixed;
    z-index: 10000;

    .navbar-contents {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    
        .logo-wrapper {
            display: flex;
            align-items: center;
    
            img#logo {
                height: 70px;
                padding: 10px;
            }
    
            img#title {
                height: 30px;
                margin-right: 10px;
            }
        }
    
        .user-wrapper {
            display: flex;
            align-items: center;
    
            svg {
                margin: 10px;
                margin-right: 26px;
                margin-left: 26px;
                font-size: 28px;
            }
        }
    }
    
    .account-dropdown.closed {
        display: none;
    }

    .account-dropdown.open {
        display: block;
        text-align: center;

        div, h4 {
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-top: 1px solid black;
        }

        div.active {
            background-color: rgba(255, 255, 255, .5);
        }

        h4 {
            margin: 0px;
            border-top: none;
        }
    }
}