.shelf-display-wrapper {
    width: 100%;

    .shelf-display {
        padding-top: 34px;
        padding-bottom: 34px;
        @include page-styles;
        background-image: url("../../static/assets/Shelf\ Background_.png");
        background-position: center;
        background-size: 100% 100%;
        color: #e5d8c4;

        .book-display {
            @include book-display-styles;
        }

        button {
            background-image: url("../../static/assets/White\ Header.png");
            border-radius: 5px;
            width: 75px;
        }

        h2 {
            margin: 20px 0 0 0;
        }
    }
}